<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Recipie</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <section class="content">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('recipes.index')}}">Recipie</a>
          
          {% if current_user.is_authenticated %}

          <div class="d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    My Account
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('users.show_user_profile', user_id=current_user.id) }}">My Profile</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('users.show_recipe_box', user_id=current_user.id) }}">My Recipe Box</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('users.show_meal_plans', user_id=current_user.id) }}">My Meal Plans</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ url_for('users.show_all_users') }}">Show All Users</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('users.show_following', user_id=current_user.id) }}">Following</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('users.users_followers', user_id=current_user.id) }}">Followers</a></li>            
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{url_for('users.logout')}}">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            {% else %}
            <div class="d-flex justify-content-end">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{url_for('users.register')}}">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('users.login')}}">Login</a></li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <div class="messages">
      <!-- flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        <p>{{ message }}</p>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}">
</body>
