{% extends "base.html" %}
{% block content %}
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100" style="color: #0347CA;">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #F7F7F7;">
        <div class="card-body p-5">

          <h3 class="mb-5 text-center">Change Password</h3>
          <form method="POST">
            {{ form.csrf_token }}

            <div class="form-outline mb-4">
              {{ form.current_password(class="current-password form-control form-control-lg", placeholder="Current Password") }}
              {% for error in form.current_password.errors %}
              <p class="validation-error">[{{ error }}]</p>
              {% endfor %}
            </div>
            <div class="form-outline mb-4">
              <label for="show_password">
                <input type="checkbox" name="show_password" class="show_password" data-show-password=".current-password">
                Show Current Password
              </label>
            </div>

            <div class="form-outline mb-4">

              {{ form.new_password(class="new-password form-control form-control-lg", placeholder="New Password") }}
              {% for error in form.new_password.errors %}
              <p class="validation-error">[{{ error }}]</p>
              {% endfor %}
            </div>

            <div class="form-outline mb-4">
              <label for="show_password">
                <input type="checkbox" name="show_password" class="show_password" data-show-password=".new-password">
                Show New Password
              </label>
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
