{% extends 'base.html' %}
{% block content %}


<h1 class="page-headline text-center">My Followers</h1>

{% if user.followers.count() == 0 %}
<h3 class ="text-center">Sorry, you do not have any followers.</h3>
{% endif %}

<div class="container">
  <div class="row">
    {% for follower in user.followers %}
    <div class="col-sm-4">
      <div class="card">
        <img src="https://www.fillmurray.com/g/200/200" alt="" class="card-hero">
        <div class="card-body text-center">
          <a href="/users/{{ follower.id }}" class="card-link">
            <p>{{ follower.user_profiles[0].username }}</p>
          </a>

          {% if current_user.is_following(follower) %}
          <hp>You are following this user.</p>
          <form method="POST" action="/users/unfollow/{{ follower.id }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>  
            <button class="btn btn-danger btn-sm">Unfollow</button>
          </form>
          {% else %}
          <p>You are not following this user.</p>
          <form method="POST" action="/users/follow/{{ follower.id }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button class="btn btn-primary btn-sm">Follow</button>
          </form>
          {% endif %}

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
