{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    {% for user_profile in user_profiles %}
    <div class="col-sm-4">
      <div class="card">
        <img src="https://www.fillmurray.com/500/500" class="card-img-top" alt="Fill Murray">
        <div class="card-body">
          <h5 class="card-title">{{ user_profile.username }}</h5>
          <a href="/users/{{user_profile.user_id}}" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}



