{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Users</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for user_profile in user_profiles %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">{{ user_profile.username }}</h5>
        </div>
        <div class="card-body text-center">
          <a href="#" class="card-link">Follow</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}

