{% extends "base.html" %}
{% block content %}

<div class="form-wrap">
  <h1 class="form-heading">Login</h1>

  <form method="POST">
    {{ form.csrf_token }}

    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    {% for error in form.email.errors %}
    <span class="validation-error">[{{ error }}]</span>
    {% endfor %}

    {{ form.password_hashed.label(class="form-label") }}
    {{ form.password_hashed(class="form-control password") }}
    {% for error in form.password_hashed.errors %}
    <span class="validation-error">[{{ error }}]</span>
    {% endfor %}


    <label for="show_password">
      <input type="checkbox" name="show_password" id="show_password" data-show-password=".password">
      Show Password
    </label>

    {{ form.remember_me(class="form-check-input") }}
    {{ form.remember_me.label(class="form-check-label") }}
    <br />
    {{ form.submit(class="btn btn-primary password-field") }}
    
    <div class="forgot-password">
      <p><em><a href="{{ url_for('users.password_reset_via_email') }}">Forgot your password?</a></em></p>
    </div>
  </form>
</div>
<script src="{{ url_for('static', filename='js/app.js') }}">
  {% endblock %}
