{% extends "base.html" %}


{% block content %}
<div class="form-wrap">
  <h1>User Registration</h1>

  <form method="post">
    {{ form.csrf_token }}

    <div class="field">
      {{ form.email.label }}
      {{ form.email }}
      {% for error in form.email.errors %}
        <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="field">
      {{ form.password_hashed.label }}
      {{ form.password_hashed }}
      {% for error in form.password_hashed.errors %}
        <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="field">
      {{ form.password_confirmation_hashed.label }}
      {{ form.password_confirmation_hashed }}
      {% for error in form.password_confirmation_hashed.errors %}
        <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>
        <div class="field">
      {{ form.username.label }}
      {{ form.username }}
      {% for error in form.username.errors %}
      <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="field">
      {{ form.first_name.label }}
      {{ form.first_name }}
      {% for error in form.first_name.errors %}
      <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="field">
      {{ form.last_name.label }}
      {{ form.last_name }}
      {% for error in form.last_name.errors %}
      <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="field">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}

