{% extends "base.html" %}


{% block content %}

<div class="container py-5 h-100">
  <div class="user-form-row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="user-form-card shadow-2-strong">
        <div class="card-body p-5">

          <h3 class="mb-5 text-center">Register for Free!</h3>
          
          <form method="POST">
            {{ form.csrf_token }}

            <div class="form-outline mb-4">
              {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
              {% for error in form.email.errors %}
              <p class="validation-error">[{{ error }}]</p>
              {% endfor %}
            </div>

            <div class="form-outline mb-4">
              {{ form.password_hashed(class="password_hashed form-control form-control-lg", placeholder="Password") }}
              {% for error in form.password_hashed.errors %}
              <p class="validation-error">[{{ error }}]</p>
              {% endfor %}
            </div>

              <div class="form-outline mb-4">
                <label for="show_password">
                  <input type="checkbox" name="show_password" id="show_password" data-show-password=".password_hashed">
                  Show Password
                </label>
              </div>

            <div class="form-outline mb-4">
              {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
              {% for error in form.username.errors %}
              <p class="validation-error">[{{ error }}]</p>
              {% endfor %}
            </div>

            <div class="form-outline mb-4">
              {{ form.first_name(class="form-control form-control-lg", placeholder="First Name") }}
              {% for error in form.first_name.errors %}
              <p class="validation-error">[{{ error }}]</p>
              {% endfor %}
            </div>

            <div class="form-outline mb-4">

              {{ form.last_name(class="form-control form-control-lg", placeholder="Last Name (Optional)") }}
              {% for error in form.last_name.errors %}
              <p class="validation-error">[{{ error }}]</p>
              {% endfor %}

            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
            </div>
          </form>          
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
