/* Custom styles for the Flask Recipe App Profile Page */

/* Fonts */

#call-to-action {
    margin-top: 50px;
}

/* Form Styline */
.search-form-row {
    color: #0347CA;
}

.search-form-card {
    border-radius: 1rem;
    background-color: #F7F7F7;
}

.follow-button {
    color: #FFF;
    text-decoration: none;
    padding-right: 1rem;
}

/* Badges */
span.badge.rounded-pill.bg-danger {
    /* margin-left: 1rem; */
}



