#call-to-action {
    margin-top: 50px;
}

.search-form-row {
    color: #0347CA;
}

.search-form-card {
    border-radius: 1rem;
    background-color: #F7F7F7;
}

div.card-header {
    background-color: #F7F7F7;
}

span.badge.rounded-pill.bg-danger {
    margin-left: 20px;
}

h1{
    margin-bottom: 100px;
}

