/* Global custom styles for the Flask Recipe App */

body {
    background-color: #F2F4F6;
    color: #0B1F66;
}

/* /\* Fonts *\/ */
/* h1 { */
/*     color: #0B1F66; */
/*     margin-top: 2rem; */
/*     margin-bottom: 5rem; */
/* } */

/* /\* Form Styling *\/ */
.search-form-row {
    color: #0347CA;
}

.user-form-blue {
    color: #0347CA;
}

user-form-card.shadow-2-strong {
    border-radius: 1rem;
    background-color: #E8E8E8;
}

/* /\* Badges *\/ */
span.badge.rounded-pill.bg-danger {
    margin-left: 20px;
}

.d-flex {
    display: flex;
}

