<!doctype html>
<title>{% block title %}{% endblock %} - Recipie</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<nav>
  <h1>Recipie</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  <div class="messages">
  <!-- flash messages - available types: success, info, error, message (default) -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash-message flash-message-{{ category }}">
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
  {% block content %}{% endblock %}
</section>
