{% extends 'base.html' %}

{% block styling %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}">
{% endblock %}

{% block content %}
<header id="index-top-section">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6">
        <div class="text-center">
          <h1 class="my-3">Finding new recipies is as easy as Reci<span class="pie-text">pie</span>!</h1>
          <p class="lead fw-normal text-muted">Search for new recipes. Follow like-minded food lovers. Share meal ideas. All for free!</p>
          <div class="d-flex flex-column flex-lg-row align-items-center gap-1 my-1">
            <button type="button" class="btn btn-success btn-lg"><a href="#recipe-search" class="white-text-btn" style="text-decoration: none; color: #FFF;">Search Recipes</a></button>
            <button type="button" class="btn btn-primary btn-lg"><a href="{{ url_for('users.register') }}" class="link-btn" style="text-decoration: none; color: #FFF;">Register</a></button>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="index-splash-image mx-auto">
          <img src="{{url_for('static', filename='img/homemade_kimchee.png' )}}" class="img-fluid"index-splash-image" alt="homemage kimchee plate">
        </div>
      </div>
    </div>
  </div>
</header>

<aside id="food-quote-section">
  <div class="bg-dark text-secondary my-5 px-5 py-5 text-center">
    <div class="py-5">
      <h2 class="fw-bold text-white">"A recipe has no soul. You as the cook must bring soul to the recipe"</h2>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">- Thomas Keller, American chef</p>
      </div>
    </div>
  </div>
</aside>

<section class="call-to-action-section"></div>
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Here's what's cooking...</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h3>Search for new recipes.</h3>
          <p>Do you sometimes find it challenging to come up with creative meal ideas?</p>

          <p>With access to over 5,000 recipes from the <a href="https://spoonacular.com/food-api">Spoonacular API</a>, you're guaranteed to find great new recipes for snacks, family dinners, parties, or a quiet night on the couch!</p>
          <a href="#recipe-search" class="btn btn-primary">
            Let's go!
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3>Save your favorites. Plan your next meal!</h3>
          <p>Members can save favorite recipes to their public recipe box, or schedule private meal plans.</p><p>Goodbye, stressful meal planning. Hello, yummy dishes!</p>
          <a href="{{ url_for('users.register') }}" class="btn btn-primary">
            Join for free
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3>Copycats welcome.</h3>
          <p>Need a little inspiration? Browse the favorite recipes other users have shared. Go ahead; take those recipes and make them yours. They won't mind.</p>

          <p>Found a great dish? Pass it on. Inspire your followers!</p>
          <a href="{{ url_for('users.register') }}" class="btn btn-primary">
            Join for free
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="recipe-searches-section">
  <div class="text-secondary text-center ingredient-search-bg">

    <h2 class="fw-bold text-white recipe-search-h2"><a id="recipe-search">Try a random ingredient search...</a></h2>
    <form action="/recipes/search/ingredient-search-results" method="GET" placeholder="Enter ingredient" class="ingredient-search-bar">
      {% for field in form if field.widget.input_type != 'hidden' %}
      <p>
        {{ field }}
        <button>Submit</button>
      </p>
      {% endfor %}
    </form>
    <div class="text-center text-white">
      <h1 class="text-white search-h1 recipe-search-h1">Or, try a custom search!</h1>
    </div>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{url_for('static', filename='img/mapodofu_cropped.jpg')}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Search by Cuisine</h2>
                <hr>
                <h5 class="card-text">Search from a list of cuisines, including: African, Cajun, Chinese, Italian, and many more!</h5>
                <div class="search-btn">
                  <button class="btn btn-outline-primary"><a href="{{ url_for('recipes.search_cuisine_recipes') }}">Go!</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{url_for('static', filename='img/sushi_rolls.jpg')}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Search by Diet Type</h2>
                <hr>
                <h5 class="card-text">Search from a list of diet types, including: Gluten Free, Ketogenic, Vegan, and more!</h5>
                <div class="search-btn">
                  <button class="btn btn-outline-primary btn-search-btn"><a href="{{ url_for('recipes.search_diet_recipes') }}">Go!</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{url_for('static', filename='img/dessert.jpg')}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Search by Meal Type</h2>
                <hr>
                <h5 class="card-text">Search from a list of meal types, including: main course, beverage, snack, and more!</h5>
                <button class="btn btn-outline-primary btn-search-btn"><a href="{{ url_for('recipes.search_meal_type_recipes') }}">Go!</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{url_for('static', filename='img/latte.jpg')}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Search by Dietary Intolerance</h2>
                <hr>
                <h5 class="card-text">Search from a list of dietary intolerances, including: Dairy, Gluten, Peanut, and more!</h5>
                <button class="btn btn-outline-primary btn-search-btn"><a href="{{ url_for('recipes.search_dietary_intolerances') }}">Go!</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}      
