{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 rounded-3">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold text-center">Welcome to Recipie!</h1>
    <p class="text-center">Enter an ingredient to find sample recipies...</p>
    <form action="/recipes/search/ingredient-search-results" method="GET">
      {% for field in form if field.widget.input_type != 'hidden' %}
      <p>

        {{ field }}
        <button>Submit</button>
      </p>
      {% endfor %}
    </form>
    <div class="container">
      <h3>Or, try a custom search!</h3>
      <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#cuisineCollapse" role="button" aria-expanded="false" aria-controls="cuisineCollapse">Search by Cuisine</a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#dietTypeCollapse" aria-expanded="false" aria-controls="dietTypeCollapse">Search by Diet Type</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#mealTypeCollapse" aria-expanded="false" aria-controls="mealTypeCollapse">Search by Meal Type</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#intolerancesCollapse" aria-expanded="false" aria-controls="intolerancesCollapse">Search by Dietary Intolerances</button>
      </p>

      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="cuisineCollapse">
            <div class="card card-body">
              <div class="container text-center">
                <img src="{{url_for('static', filename='img/mapodofu_cropped.jpg' )}}">
                <h1>Cuisine Search</h1>
                <p>Search from a list of cuisines, including: African, Cajun, Chinese, Italian, and many more!</p>
                <a href="/recipes/search/cuisine">Search by Cuisine</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="collapse multi-collapse" id="dietTypeCollapse">
            <div class="card card-body">
              <div class="container text-center">
                <img src="{{url_for('static', filename='img/sushi_rolls.jpg' )}}">
                <h1>Diet Type Search</h1>
                <p>Search from a list of diet types, including: Gluten Free, Ketogenic, Vegan, and more!</p>
                <a href="/recipes/search/diet">Search by Diet Type</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="collapse multi-collapse" id="mealTypeCollapse">
            <div class="card card-body">
              <div class="container text-center">
                <img src="{{url_for('static', filename='img/dessert.jpg' )}}">
                <h1>Meal Type Search</h1>
                <p>Search from a list of meal types, including: main course, beverage, snack, and more!</p>
                <a href="/recipes/search/meal-type">Search by Meal Type</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="collapse multi-collapse" id="intolerancesCollapse">
            <div class="card card-body">
              <div class="container text-center">
                <img src="{{url_for('static', filename='img/latte.jpg' )}}">
                <h1>Dietary Intolerance Search</h1>
                <p>Search from a list of dietary intolerances, including: Dairy, Gluten, Peanut, and more!</p>
                <a href="/recipes/search/intolerance">Search by Dietary Intolerance</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}      
