{% extends 'base.html' %}

{% block header %}
<h1 class="text-center">{% block title %}View Recipe Details{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container text-center">
  <h3>{{ results.title }}</h3>
  <p><img src="{{results.image}}"></p>
  <h5>Ready in {{ results.readyInMinutes }} minutes</h5>
</div>
<div class="container">
  <p>{{ results.summary | striptags }}</p>
</div>
<div class="container">
  <h4>Ingredients:</h4>
  {% for ingredient in results.extendedIngredients%}
  <li>{{ingredient.original}}</li>
  {% endfor %}

  <a href="{{ results.sourceUrl }}">View Full Recipe</a>
</div>





<div class="container">
  <h2>Sign up!</h2>
  <p>Register for a free account to create search for more recipes, save them, and join our community!</p>
</div>
{% endblock %}
