{% extends 'base.html' %}

{% block header %}
<h1 class="text-center">{% block title %}View Recipe Details{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container text-center">
  <h3>{{ results.title }}</h3>
  <p><img src="{{results.image}}"></p>
  <h5>Ready in {{ results.readyInMinutes }} minutes</h5>
</div>
<div class="container">
  <p>{{ results.summary | striptags }}</p>
</div>
<div class="container">
  <h4>Ingredients:</h4>
  {% for ingredient in results.extendedIngredients%}
  <li>{{ingredient.original}}</li>
  {% endfor %}

  <a href="{{ results.sourceUrl }}">View Full Recipe</a>
</div>


<form method="POST" action="/recipes/like-recipe/{{results.id}}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="hidden" name="recipe_url" value="{{results.sourceUrl}}">
  <button button-type="submit" class="btn btn-success">Like Recipe</button>
</form>

 {% endblock %}
